/**
#BEE3FD light blue
#DEE54D  light yellow
#2645E1  dark blue
#685069  darkish gray
#77BC07  medium green

*/



body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight:400;
  color: #444;
}
header{
  background-color: #77BC07;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(16,16,96,0.7189) 100%, rgba(0,212,255,1) 100%);
  color:white;
  margin:-1em;
  padding: .5em 2em;
}
main{
  margin:1em;
  margin-top:3em;
}
label {
  display: block;
}
section.recents{
  width: 25%;
}
ul#recent-measure-list li {
  list-style: none;
  margin: 0.25em auto;
}

ul#recent-measure-list {
  max-height: 20em;
  overflow-y: auto;
  padding:.5em;
  border: 1px solid #eaeaea;
}
.w33{
  width: 33%;
}
.row{
  display:flex;
  flex-direction: row;
}
gt-glucose-entry{
  display:block;
  min-width: 500px;
}

