/**
#BEE3FD light blue
#DEE54D  light yellow
#2645E1  dark blue
#685069  darkish gray
#77BC07  medium green

*/


html{
  height:100%;
}
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight:400;
  color: #555;
  height: 100%;
  margin:0 auto;
  background-color: #f0f0f0;
}
header{
 /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(16,16,96,0.7189) 100%, rgba(0,212,255,1) 100%);*/
  max-height: 4.0rem;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  color:white;
  margin:-1em;
  padding: .5em 1em;
}
header h1{
  margin:0.25em 0;
  font-family:Helvetica;
  padding: .25em;
  font-size: 1.5em;
}

label {
  display: block;
}

h1 i.fa-user-md{
  color: #FDE71A;
  font-size: 2.25em;
  display:inline-block;
  margin: .15em;
}
h1 span.title{
  font-size: 1.5em;
}
.container{
  height: calc( 100% - 4.0rem );
}

/*
.container nav{
  flex-basis: 12.5%;
  margin-top:1em;
  padding:1em;
  background-color: #808080;
  color:white;
  height: 100vh;
}
*/
.container main{
  margin:1em;
  margin-top:2em;
  width: calc( 100% - 2em );
}
nav h3{
  font-weight: 400;
}
.recents{
  width: 100%;
}
.recent-parent {
  margin-top:2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 1em;
  row-gap: 0;
  height: 100%;
}
@media only screen and (max-width:900px){
  .recent-parent{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    column-gap: 0;
    row-gap: 2em;;
    width: 100%
  }
}

ul#recent-measure-list {
  max-height: 60em;
  background-color: white;
  margin:0;
  height:100%;
  overflow-y: auto;
  padding:.5em;
  border: 1px solid #eaeaea;
  border-radius: .25em;
}
ul#recent-measure-list li {
  list-style: none;
  margin: .6em .4em;
  border:1px solid #eaeaea;
  border-radius: .25em;
}

#chart-div{
  border-radius: .25em;
  height:100%;
  min-height: 500px;
}
section.recents h3 span{
  padding: 0 1em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  color: #0C8341;
  color: #2E4EA1;
}
section.recents h2{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}
.w33{
  width: 33%;
}
.row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
gt-glucose-entry{
  display:block;
  min-width: 500px;
}
fieldset{
  position:relative;
  padding-top:1.25em;
  border-color: #f4f4f4;
  border-width:1px;
  border-left:none;
  border-bottom:none;
  border-right:none;
  margin-top:1em;
}
@media only screen and (max-width:900px){
  .row{
    flex-direction: column;
    justify-content: flex-start;
  }
  fieldset{
    margin-top: 2.5em;
    width: calc( 100% - 2em );
  }
  gt-glucose-entry{
    width: 100%;
    max-width:100%;
  }
}
.user-box{
  margin-right: 5em;
  display:flex;
  align-items: flex-start;
}
.user-box select{
  margin-right: 2em;
}
.user-box label{
  color: #888;
  margin: .5em .5em 0 0;
  display:block;
}
#initial-user-name,
.user-box select{
  padding: .5em;
  border: 1px solid #dadada;
  min-width: 11em;
  height: 2.5em;
}
@media print {
  ul#recent-measure-list{
    width: 30em;
    max-height:  80vh;
  }

}



/* Color Theme Swatches in RGBA */
.cb-1{ color: rgba(28, 3, 191, 1); }
.cb-2{ color: rgba(12, 4, 242, 1); }
.cb-3{ color: rgba(7, 2, 140, 1); }
.cb-4{ color: rgba(133, 138, 242, 1); }
.cb-5{ color: rgba(242, 214, 75, 1); }


/* Color Theme Swatches in RGBA */
.cs-1-rgba { color: rgba(12, 131, 65, 1); }
.cs-2-rgba { color: rgba(253, 231, 26, 1); }
.cs-3-rgba { color: rgba(243, 120, 32, 1); }
.cs-4-rgba { color: rgba(202, 32, 39, 1); }
.cs-5-rgba { color: rgba(46, 78, 161, 1); }
.csb-5{ background-color: rgba(46, 78, 161, 1); }

